// @import './styles/example.scss';


body {
    // background-image: url('../src/styles/images/background.png');
    // background-size: contain;
    // background-repeat: repeat;
    font-family: Andale Mono, monospace;
    font-weight: bold; 
}

p{
    // display: none;
    margin: 0px 0px 2px 20px;
    visibility: visible;
    opacity: 1;
}

body > a {
    float: right;
    top: 0;
    margin-right: 20px;
    // padding: 20px;
}

#canvas {
    background: rgb(216, 227, 240);
    // background-image: url('../src/styles/images/IMG_1630.jpg');
    

    border: 1px dashed rgb(161, 175, 182); 
    border-radius: 3px;
    // padding: 20px; 
    margin: 0px 20px 0px 20px; 
    float: left
    // width: 100%;
    // height: 100%;
    // margin: 50px;
}

.welcome {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(233, 211, 178, 0.4);
    background-image: url('../src/styles/images/background.png');
    background-size: stretch;
    // background-repeat: repeat;
}

.welcome-content {
    background-color:rgb(216, 227, 240);
    margin: 20% auto;
    padding: 30px;
    border: 1px solid rgb(123, 148, 180);
    width: 60%;
    color: rgb(78, 78, 74);
    font-family: Andale Mono, monospace;
    font-weight: bold;
    
}

.close {
    color:rgb(161, 175, 182);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

a {
  color:rgb(180, 146, 100);  
}




// .footer {
//     padding: 20px;
// }


// .child {
//     color:rgb(131, 145, 151);
//     float: left;
//     padding: 20px;
// }

.footer {
    display: flex;
    justify-content: space-around;
}

// .child {
//     justify-content: space-between;
// }


.close:hover, 
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
